<ul>
    <li class="dropdown-custom-menu">
        <a href="#javascript:void(0)" class="dropbtn">File</a>
        <div class="dropdown-content">
            <a href="#">Exit</a>
        </div>
    </li>
    <li class="dropdown-custom-menu">
        <a href="javascript:void(0)" class="dropbtn">Message provider</a>
        <div class="dropdown-content">
            <a routerLink="providers/ibm-mq" routerLinkActive="active">IBM MQ</a>

            <a [routerLink]="providers/jsms" routerLinkActive="active">JMS</a>
            <a [routerLink]="providers/rabbit-mq" routerLinkActive="active">RabbitMQ</a>
            <a [routerLink]="providers/kafka" routerLinkActive="active">Kafka</a>
        </div>
    </li>
    <li><a href="#news">News</a></li>

</ul>