.container {    
    display: grid;
    grid-template-columns: 200px 100px;

    .form-connection {
        grid-row: 1;
        grid-column: 1;
        margin-top: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        grid-gap: 10px;

        label {
            display: block;
        }
        

        .inp {
            border-radius: 5px;
            padding: 20px;
        }

        .form-wrapper {
            .form-connection-host {
                grid-column: 1 / 3;
                grid-row: 1;
            }

            .form-connection-port {            
                grid-column: 3;
                grid-row: 1;
                width: 50px;
            }

            .form-connection-channel {
                grid-column: 1 / 4;
                grid-row: 2;
            }
        }

        .form-connection-button {
            grid-column: 4;
            grid-row: 1 / 2;
        }        
    }
}