<div class="row">
    <div class="border m-2 col-md-8">
        <form>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputHost">Host name:</label>
                    <input type="text" class="form-control" id="inputHost" placeholder="127.0.0.1" ng-readonly="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPort">Port:</label>
                    <input type="text" class="form-control" id="inputPort" placeholder="1414">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputQmgr">Queue manager:</label>
                    <input type="text" class="form-control" id="inputQmgr" placeholder="QMGR">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-8">
                    <label>Connection channel:</label>
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputChannel"
                                    placeholder="SYSTEM.DEF.CLNTCONN">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <button class="btn btn-primary"
                                    (click)="!isConnected = !isConnected">{{!isConnected ? 'Connect' : 'Disconnect'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 m-2">
        <div class="row">
            <button type="button" class="btn btn-outline-secondary m-1">Save Q</button>
            <button type="button" class="btn btn-outline-secondary m-1">Purge Q</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-secondary m-1">Load Q</button>
            <button type="button" class="btn btn-outline-secondary m-1">Display Q</button>
        </div>
    </div>
</div>

<div class="border m-2 p-2">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputQueue">Queue:</label>
                    </div>
                    <select class="custom-select" id="inputQueue">
                        <option selected>Choose...</option>
                        <option value="1">SYSTEM.ADMIN.ACCOUNTING.QUEUE</option>
                        <option value="2">SYSTEM.ADMIN.QMGR.EVENT</option>
                        <option value="3">SYSTEM.DEAD.LETTER.QUEUE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="queuType">Queue type:</span>
                </div>
                <input type="text" class="form-control" placeholder="Queue type" aria-label="queuType"
                    aria-describedby="queuType">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="queuType">Queue depth:</span>
                </div>
                <input type="text" class="form-control" placeholder="Queue depth" aria-label="queuDepth"
                    aria-describedby="queuType">
            </div>
        </div>
    </div>

    <div class="row m-2">
        <button type="button" class="btn btn-outline-secondary m-1">Read Q</button>
        <button type="button" class="btn btn-outline-secondary m-1">Write Q</button>
        <button type="button" class="btn btn-outline-secondary m-1">Browse Q</button>
        <button type="button" class="btn btn-outline-secondary m-1">Start Browse</button>
        <button type="button" class="btn btn-outline-secondary m-1">Browse Next</button>
        <button type="button" class="btn btn-outline-secondary m-1">Browse Prev</button>
        <button type="button" class="btn btn-outline-secondary m-1">End Browse</button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="fileName">File Name:</span>
                </div>
                <input type="text" class="form-control" aria-label="fileName" aria-describedby="fileName" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="dataSize">Data Size:</span>
                </div>
                <input type="text" class="form-control" aria-label="dataSize" aria-describedby="dataSize" disabled>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-outline-secondary m-1">Open File</button>
            <button type="button" class="btn btn-outline-secondary m-1">Save File</button>
            <button type="button" class="btn btn-outline-secondary m-1">Clear Data</button>
            <button type="button" class="btn btn-outline-secondary m-1">Clear All</button>
            <button type="button" class="btn btn-outline-secondary m-1">Load Names</button>
            <button type="button" class="btn btn-outline-secondary m-1">Set Conn Id</button>
        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="asQueue" id="asQueue" value="asQueue" checked>
                <label class="form-check-label" for="asQueue">As Queue</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bindOpen" id="bindOpen" value="bindOpen">
                <label class="form-check-label" for="bindOpen">Bind Open</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="notFixed" value="notFixed">
                <label class="form-check-label" for="notFixed">Not Fixed</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="coboCopyBookFileName">COBOL Copy Book File Name:</label>
                    <input type="text" class="form-control" id="coboCopyBookFileName" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <textarea class="form-control" id="cobolTextarea" rows="3" disabled></textarea>
                </div>
            </div>
        </div>
    </div>


</div>