<div class="btn-group" role="group" aria-label="IBM MQ">

    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.main}" (click)="onTab(tabAction.main)">Main</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.data}" (click)="onTab(tabAction.data)">Data</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.mqmd}" (click)="onTab(tabAction.mqmd)">MQMD</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.rfh}" (click)="onTab(tabAction.rfh)">RFH</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.pubsub}"
        (click)="onTab(tabAction.pubsub)">PubSub</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.pscr}" (click)="onTab(tabAction.pscr)">pscr</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.jms}" (click)="onTab(tabAction.jms)">jms</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.usr}" (click)="onTab(tabAction.usr)">usr</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.other}"
        (click)="onTab(tabAction.other)">other</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.cics}" (click)="onTab(tabAction.cics)">CICS</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.ims}" (click)="onTab(tabAction.ims)">IMS</button>
    <button type="button" class="btn btn-outline-secondary"
        [ngClass]="{'tablinks':true,'active':action === tabAction.dlq}" (click)="onTab(tabAction.dlq)">DLQ</button>
</div>

<div class="tabcontent" [ngSwitch]="action" [ngStyle]="{'display':'block'}">
    <app-main *ngSwitchCase="tabAction.main"></app-main>
    <app-data *ngSwitchCase="tabAction.data"></app-data>
    <app-mqmd *ngSwitchCase="tabAction.mqmd"></app-mqmd>
    <app-rfh *ngSwitchCase="tabAction.rfh"></app-rfh>
    <app-pubsub *ngSwitchCase="tabAction.pubsub"></app-pubsub>
    <app-pscr *ngSwitchCase="tabAction.pscr"></app-pscr>
    <app-jms *ngSwitchCase="tabAction.jms"></app-jms>
    <app-usr *ngSwitchCase="tabAction.usr"></app-usr>
    <app-other *ngSwitchCase="tabAction.other"></app-other>
    <app-cics *ngSwitchCase="tabAction.cics"></app-cics>
    <app-ims *ngSwitchCase="tabAction.ims"></app-ims>
    <app-dlq *ngSwitchCase="tabAction.dlq"></app-dlq>

</div>