<div class="starter-container">

    <header>
        <strong><span>MESSAGE</span> VIEWER</strong>
        <nav>
            <ul>
                <li><img src="./assets/btn-min-2.svg" id="min" (click)="minimizeWindow()"></li>
                <li><img src="./assets/btn-max-2.svg" id="max" (click)="maximizeWindow()"></li>
                <li><img src="./assets/btn-close-2.svg" (click)="closeWindow()"></li>
            </ul>
        </nav>
    </header>

    <app-header></app-header>

    <router-outlet></router-outlet>

</div>